<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body bgcolor=#e8e8e8>
	<h1 style="text-align: center">Totally Legitimate "Library"</h1>
	<h2>Sign Up</h2>
	<form action="/insertBorrower" method="post">
		Card Number:<br> <input type="text" name="cardNo"><br>
		Name:<br> <input type="text" name="name"><br>
		Address:<br> <input type="text" name="address"><br>
		Phone:<br> <input type="text" name="phone"><br>
		Password:<br> <input type="text" name="password"><br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>